<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CatBody.Properties.Settings.CatBodyConnectionString"
            connectionString="Data Source=MACBOOKPRO114;Initial Catalog=CatBody;Persist Security Info=True;User ID=sa;Password=04204332300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>